.fig-label {
  font-size: 0.825rem;
  font-weight: 700;
  margin-bottom: 1rem;
  text-align: center;
}
.img-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
section {
        text-align: justify;
    }

.main-content h1,
.main-content h2 {
  position: relative;
  padding-bottom: 0.5em;
  margin-bottom: 1em;
}

.main-content h1::after,
.main-content h2::after {
  content: "";
  display: block;
  width: 100%;
  border-bottom: 1px solid #ccc;  // you can change the color / thickness
  position: absolute;
  bottom: 0;
  left: 0;
}
